@model Lms.Models.Authentication.SigninViewModel;
@{
    ViewData["Title"] = "Signin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>ورود به سامانه</h3>
<hr>
<div class="border container p-4 d-flex justify-content-center " style="height: 600px;">
    <div class="col-12 col-md-8 col-lg-6">
        <div asp-validation-summary="ModelOnly" class="text-danger">
        </div>
        <form asp-action="Signin" asp-controller="Authentication" method="post" >
            <div class="mb-3">
                <label asp-for="UserName" class="form-label">نام کاربری</label>
                <input type="text" class="form-control" asp-for="UserName">
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Password" class="form-label">رمز عبور</label>
                <input type="password" class="form-control" asp-for="Password">
                <span asp-validation-for="Password" class="text-danger"></span>

            </div>
            <div class="d-flex justify-content-center ">
                <button type="submit" class="btn btn-success col-6">ورورد</button>
            </div>
        </form>
    </div>
</div>


<style>
    div .col-12 {
        margin-top:30px;
    }
</style>
